.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(50, 167, 145);
}

.header .trybewarts-login {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.trybewarts-login #submit {
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  margin: 0 5px;
}

.trybewarts-login #password {
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 0 5px;
}

.trybewarts-login #email {
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin: 0 5px;
}

.header #trybewarts-header-title {
  display: flex;
  color: white;
  font-size: xxx-large;
}

.header .trybewarts-header-logo {
  width: 100px;
}

.main {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.main #evaluation-form {
  width: 675px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#trybewarts-forms-logo {
  height: 500px;
  justify-content: flex-end;
}

.main #evaluation-form .full-name {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.main #evaluation-form .personal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.main #evaluation-form .family-type {
  display: inline-block;
}

.main #evaluation-form .content-type {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}

.main #evaluation-form .content-family {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
}

.main #evaluation-form .rate-input {
  margin: 10px;
}

.main #evaluation-form .comment {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.main #evaluation-form .terms {
  margin: 10px;
}

#submit-btn {
  border: none;
  border-radius: 8px;
  padding: 10px 0;
  background-color: bisque;
  margin: 10px;
}

#footer {
  display: flex;
  font-size: large;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: grey;
  padding: 20px;
}
