.header {
  display: flex;
  justify-content: space-between;
  background-color: rgb(50, 167, 145);
}

.header .trybewarts-login {
  display: flex;
  margin: 10px;
  justify-content: flex-end;
  height: 20px;
  flex-wrap: wrap;
  margin-right: 250px;
  margin-top: 40px;
}

.trybewarts-login #submit {
  margin: 5px;
}

.trybewarts-login #password {
  margin: 5px;
}

.trybewarts-login #email {
  margin: 5px;
}

.header #trybewarts-header-title {
  display: flex;
  color: white;
  font-size: xxx-large;
}

.header .trybewarts-header-logo {
  width: 100px;
  margin-left: 250px;
}
